.text{
    color: #3048a5;
    font-size: 2rem;
}
.imagee{
    width: 120px;
    height: 120px;
    border-radius: 80%;
    margin: 0vh 0vh 5vh 5vh;
}
h5{
    font-size: 16px;
    margin: 10px 10px 10px 10px;
}
.forget-password{
    margin-left: 9px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input{
    display: flex;
    margin: auto;
    width: 350px;
    height: 40px;
    background: #eaeaea;
    border-radius: 6px;
}
.input input{
    height: 20px;
    width: 500px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 17px;
    margin: 10px 10px 10px 10px;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}