/* sidebar link element  */
.sidebar-link.active {
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  background-color: #233243;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.75rem 1rem;
  border-left: 2px solid #4281DE;
  
}
.loading{
  height: 100%;
  width: 100%;
  background-color: #233243;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.breadcrumb-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.breadcrumb-button {
  background-color: transparent;
  border: none;
  padding: 4px;
  margin: 0;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.breadcrumb-icon-button {
  background-color: transparent;
  border: none;
  padding: 4px;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.breadcrumb-icon {
  margin: 0 4px;
}

.breadcrumb-button:hover,
.breadcrumb-icon-button:hover {
  text-decoration: none;
}
