/* sidebar link element  */
.sidebar-link.active {
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  background-color: #233243;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.75rem 1rem;
  border-left: 2px solid #4281DE;
  
}