/* sidebar link element  */
.sidebar-link.active {
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  background-color: #233243;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.75rem 1rem;
  border-left: 2px solid #4281DE;
  
}
.loading{
  height: 100%;
  width: 100%;
  background-color: #233243;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.breadcrumb-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.breadcrumb-button {
  background-color: transparent;
  border: none;
  padding: 4px;
  margin: 0;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.breadcrumb-icon-button {
  background-color: transparent;
  border: none;
  padding: 4px;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.breadcrumb-icon {
  margin: 0 4px;
}

.breadcrumb-button:hover,
.breadcrumb-icon-button:hover {
  text-decoration: underline;
}
.main {
  background: #f5f7fb;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  width: 100%;
}

.main::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
.sidebar-hide{
  display: none;
}
.sidebar {
  background: #222e3c;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
}

.sidebar, .sidebar-content {
  background: #222e3c;
 
  position: fixed;
  top: 0; /* You may adjust this to set the top position */
  bottom: 0; /* You may adjust this to set the bottom position */
  left: 0; /* You may adjust this to set the left position */
  width: 250px; /* You may adjust this to set the width of the sidebar */
}
.sidebar-show{
  margin-left: 260px;
}